package main

import (
	"crypto/md5"
	"encoding/binary"
	"fmt"
	"io/ioutil"
	"time"
	"os"
	"regexp"
	"strings"
	"unicode"

	"github.com/Sirupsen/logrus"
	"github.com/flaviostutz/ruller/ruller"

	version "github.com/hashicorp/go-version"
)

func main() {
	logrus.SetLevel(logrus.DebugLevel)
	logrus.Infof("====Starting Rules Server====")

{{ range $name, $ruleGroup := . }}
	//
	//RULE GROUP {{ $name }}
	//	
{{ template "rulegroup.tmpl" $ruleGroup }}

{{ end }}

	ruller.StartServer()
}

{{ template "utils.tmpl" . }}

