
	//RULE {{.name}}
	ruller.Add("test", "{{.name}}", func(input map[string]interface{}) (map[string]interface{}, error) {
		output := make(map[string]interface{})

		if input["menu"] == true {
			menu := make(map[string]string)
			menu["label"] = "{{.label}}"
			menu["screen"] = "{{.screen}}"
			menu["options"] = "{{.options}}"
			menu["component"] = "{{.component}}"
			output["{{.name}}"] = menu
		}
		return output, nil
	})
