	ruller.Add("test", "{{ .name }}", func(input map[string]interface{}) (map[string]interface{}, error) {
		output := make(map[string]interface{})
		output["label"] = "Lots of tests"

		mname := fmt.Sprintln("m", rand.Int())
		if input["menu"] == true {
			if rand.Int(100)>30 {
				child := make(map[string]interface{})
				label := fmt.Sprintln("aaaaa", rand.Int())
				child["l"] = label
				child["m"] = "component-xyz"
				output[mname] = child
			} else {
				child := make(map[string]interface{})
				label := fmt.Sprintln("bbbbb", rand.Int())
				child["l"] = label
				child["m"] = "component-abc"
				child["type"] = "abracadabra"
				child["weight"] = 2
				output[mname] = child
			}
		}

		return output, nil
	})
