package main

import (
	"crypto/md5"
	"encoding/binary"
	"fmt"
	"io/ioutil"
	"time"
	"os"
	"regexp"
	"strings"
	"unicode"

	"github.com/sirupsen/logrus"
	"github.com/flaviostutz/ruller"

	version "github.com/hashicorp/go-version"
)

func rules() {

{{ range $name, $ruleGroup := . }}
	//
	//RULE GROUP {{ $name }}
	//	
{{ template "rulegroup.tmpl" $ruleGroup }}

{{ end }}

}

{{ template "utils.tmpl" . }}

